lastupdate.tmp
.vscode/
.idea/
sga_mid
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
sga_mid.exe
go.mod
go.sum

commentsRouter__*