lastupdate.tmp
.vscode/
.idea/
sga_admisiones_mid
sga_admisiones_mid.exe
sga_admisiones_mid.exe~
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
sga_mid.exe
go.mod
go.sum
.env
commentsRouter__*