lastupdate.tmp
.vscode/
.idea/
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
sga_mid_admisiones.exe
go.mod
go.sum